[user]
	name = Gokhan
	email = agokhanileri@gmail.com

[credential]
	helper = osxkeychain

[core]
	autocrlf = input
	eol = lf
	excludesfile = /Users/agi/.gitignore_global

[init]
	defaultBranch = main

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[push]
	default = current

[pull]
	rebase = false  # or 'true' if you prefer linear history

[color]
	ui = auto
