##############################################################
# Packaging
pip>=24.2
setuptools>=75.1
wheel>=0.44

##############################################################
# Dev/QA
ipython>=8.27
black>=24.8
ruff>=0.7
mypy>=1.12
pytest>=8.3
pre-commit>=3.8

##############################################################
# Scientific
numpy>=1.26
# scipy>=1.13
# pandas>=2.2
# matplotlib>=3.9
# scikit-learn>=1.5
# numba>=0.59
# sympy>=1.13
# tqdm>=4.66

##############################################################
# Performance
cmake             # build system (required for pybind11/cython extensions)
# llvm-openmp       # enables multi-threaded BLAS/LAPACK on macOS
# ninja             # C/C++ backend for cmake and builds
# pkgconfig         # detects system libs for C/C++/Fortran extensions
# cython>=3.0     # uncomment if you build native modules
